{% extends 'base.html' %}
{% block body_content %}
    <div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
                    <br><h1>Agence</h1><br>
                        <h2>Le nouveau phénomène</h2>
                        <p>Vous n'avez pas pue passer à coter de ce nouveau réseaux social qui renverse le marché.
                        Tiktok à su en quelque année s'implenter dans le monde entier et convertir plusieurs millard d'utilisateurs.
                            A t'elle poind que les autres plateformes comme instagram, snapchat et youtube essaye de le copier a leur manière sans grand succès.
                            De ce fait tiktok deviens un choix a ne pas manquer pour acquérir de nouveaux clients.</p></br>
                        <h2>De nouveaux code</h2>
                        <p>Tiktok comme tout les réseaux sciaux a ses propores code et ça manière de communiquer sur la plateforme.
                        On privilégie les cotenus court et authtentique. On ne peut pas faire de la pub comme sur facebook ou instagram à part si l'on veut perdre de l'argent.
                        TikTok a développer son propre système de publicité qui lui permet d'offrir de très bon taux de conversion</p></br>
                        <h2>Notre système d'acquisition</h2>
                        <p>Face à cette nouvelle opportunité nous avons utilisé la plateforme et nous nous sommes renseigné pour connaitre les meilleurs méthodes pour
                        transformer les utilisateurs en clients. Ainsi nous pouvons vous aider a développer votre image de marque, acquérir de nouveau client et augmenter votre rétention
                        sur cette plateforme d'avenir pour augmenter votre chiffre d'affaire.</p>
                        <h2>Réserver un appel de découverte</h2><br>
                    <a href="{% url 'date' %}"><button type="button" class="btn btn-primary btn-lg">Réserver</button></a>
                </div>
    </div>


{% endblock %}